{% extends 'base.html' %} {% block title %} Conatct us {% endblock title %}
{%block body %}
<div class="container py-4">
	<form method="post" action="/contact">
		<div class="mb-3">
			<label for="name" class="form-label">Full name</label>
			<input type="text" class="form-control" name="name" id="name" />
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">Email address</label>
			<input
				type="email"
				class="form-control"
				id="email"
				name="email"
				aria-describedby="emailHelp"
			/>
			<div id="emailHelp" class="form-text">
				We'll never share your email with anyone else.
			</div>
		</div>

		<div class="mb-3">
			<label for="phone" class="form-label">Phone</label>
			<input type="text" class="form-control" name="phone" id="phone" />
		</div>

		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input
				type="password"
				name="password"
				class="form-control"
				id="password"
			/>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
{% endblock body %}
